---
layout: default
---

<!-- about.html -->
      <div class="post">
        {% if page.profile -%}
        <div class="profile">
          {%- if page.profile.image %}
            {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

            {% if page.profile.image_circular %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
            {% else %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {% endif %}

            {% include profile-pic.html 
            path=profile_image_path 
            class=profile_image_class
            alt=page.profile.image -%}
          {% endif -%}
          <header class="post-header-about">
            <h1 class="post-title">
             {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
            </h1>
            <p class="desc" style="font-size: 1.5em; margin-bottom: -6px">{{ page.subtitle }}</p>
            <blockquote class="blockquote text-center">
              <p class="mb-0" style="padding: .5rem 0;">I am not a great programmer; I am just a good programmer with great habits.</p>
              <footer class="blockquote-footer">Kent Beck,<cite title="Source Title">The creator of extreme programming</cite></footer>
            </blockquote>
          </header>
          {%- if page.profile.address %}
          <div class="address">
            {{ page.profile.address }}
          </div>
          {%- endif %}
        </div>
        {%- endif %}

        <article>
          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
