---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}
              {% if page.link -%}
            <a target="_blank" href="{{ page.link }}"><i class="fa fa-external-link-alt"></i></a>
            {%- endif -%}
            </h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
